/* :root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
} */
:root {
  --vp-c-brand: var(--vk-color-primary);
  --vp-c-brand-light: var(--vk-color-primary-light-3);
  --vp-c-brand-lighter: var(--vk-color-primary-light-5);
  --vp-c-brand-dark: var(--vk-color-primary-dark-2);
  --vp-c-brand-darker: #265F99;
  /* preview 拓展样式 */
  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);
}
/* dark模式下一些页面字体为黑色，因为自定义的reset.css会覆盖掉，所以这里需要重新定义一下 */
body {
  color: var(--vp-c-text-1);
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--vp-c-text-1);
}
