.vk-tooltip {
  --vk-popover-bg-color: #303133;
  --vk-popover-font-size: var(--vk-font-size-base);
  --vk-popover-border-color: var(--vk-border-color);
  --vk-popover-padding: 12px;
  --vk-popover-border-radius: 4px;
  display: inline-block;
}

.vk-tooltip {
  .vk-tooltip__popper {
    background-color: var(--vk-popover-bg-color);
    border-radius: var(--vk-popover-border-radius);
    border: 1px solid var(--vk-popover-border-color);
    padding: var(--vk-popover-padding);
    color: #ffffff;
    line-height: 1.4;
    text-align: justify;
    font-size: var(--vk-popover-font-size);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;

    #arrow {
      position: absolute;
      width: 0;
      height: 0;
      border: 6px solid transparent;
    }

    &[data-popper-placement^='top'] > #arrow {
      bottom: -6px;
      border-top-color: var(--vk-popover-bg-color);
      border-bottom: none;
    }

    &[data-popper-placement^='bottom'] > #arrow {
      top: -6px;
      border-bottom-color: var(--vk-popover-bg-color);
      border-top: none;
    }

    &[data-popper-placement^='left'] > #arrow {
      right: -6px;
      border-left-color: var(--vk-popover-bg-color);
      border-right: none;
    }

    &[data-popper-placement^='right'] > #arrow {
      left: -6px;
      border-right-color: var(--vk-popover-bg-color);
      border-left: none;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--vk-transition-duration);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
